<div class = "c3">

<div>
  <div class = "c32"><img src="img/voice.jpg" ></div>
  <p class = "ab">Writen by: <%= Faker::Name.name %>, produced by <%= Faker::Name.name %>,  sound engineer <%= Faker::Name.name %>,  backup vocalist: <%= Faker::Name.name %></p> </div>

</div>

<div class = "c3">

<div>
  <div class = "c32"><img src="img/songs.jpg" ></div>
  <p class = "ab">Writen by: <%= Faker::Name.name %>, produced by <%= Faker::Name.name %>,  sound engineer <%= Faker::Name.name %>,  backup vocalist: <%= Faker::Name.name %></p> </div>

</div>


<div class = "c3">

<div>
  <div class = "c32"><img src="img/vegas.jpg" ></div>
  <p class = "ab"> Writen by:<%= Faker::Name.name %>, produced by <%= Faker::Name.name %>,  sound engineer <%= Faker::Name.name %>,  backup vocalist: <%= Faker::Name.name %></p> </div>

</div>

