/ %table.centertable.hidetable
/   %tr
/     %th Sort by: 
/     %th.tblstyl= sortable "rent", "Rent"
/     %th.tblstyl= sortable "lease_start", "Start Date"
/     %th.tblstyl= sortable "lease_length", "Length of Lease"
/     %th.tblstyl= sortable "lease_type", "Type"
/ %ul.search_list
/   - @listings.each do |f|
/     %li.col-xs-6.col-xs-offset-3.borderbottom
/       $
/       = f.rent
/       = f.address
/       = f.city 
/       = f.state
/       = f.lease_type
/     .col-xs-3
/ %div{:id => "table_pagination"}= will_paginate @listings
.col-xs-6.col-xs-offset-3
  .panel.panel-default
    .panel-heading
      %i.fa.fa-bell.fa-fw
      %table.centertable.hidetable
        %tr
          %th Sort by: 
          %th.tblstyl= sortable "rent", "Rent"
          %th.tblstyl= sortable "lease_start", "Start Date"
          %th.tblstyl= sortable "lease_length", "Length of Lease"
          %th.tblstyl= sortable "lease_type", "Type"
    / /.panel-heading
    .panel-body
      .list-group
        - @listings.each do |f|
          %a.list-group-item{:href => "#"}
            %i.fa.fa-comment.fa-fw
              = image_tag f.photo.url, :class => "size_image_table"

              $
              = f.rent
              = f.address
              = f.city 
              = f.state
              = f.lease_type
          %span.pull-right.text-muted.small
            %em 4 minutes ago
        
      %div.center_pagination{:id => "table_pagination"}= will_paginate @listings
      
.col-xs-3
