/ %li
/   = a_listing.address
/   |
/   = a_listing.rent
/   |  
/ %table.centertable
/   %tr
/     %th Sort by: 
/     %th.tblstyl= sortable "rent", "Rent"
/     %th.tblstyl= sortable "lease_start", "Start Date"
/     %th.tblstyl= sortable "lease_length", "Length of Lease"
/     %th.tblstyl= sortable "lease_type", "Type"

%li.col-xs-6.col-xs-offset-3.borderbottom
  $
  = a_listing.rent
  = a_listing.address
  = a_listing.city 
  = a_listing.state
  = a_listing.lease_type
.col-xs-3
