%h1.col-xs-8.col-xs-offset-4 Lisitings
%div{:id => "listing_search"}
  =form_tag all_listings_path, :method => 'get' do
    = hidden_field_tag :direction, params[:direction]
    = hidden_field_tag :sort, params[:sort]
  %div
    = text_field_tag '', '', class: "listings_search"
    = link_to "Search Listing", 'javascript:void(0);', class: "search_listings btn btn-lg btn-primary"
%div{:id => "table_list"}= render 'listings_table'