%h1.col-xs-8.col-xs-offset-4 Lisitings
%table.centertable
  %tr
    %th Sort by: 
    %th.tblstyl= sortable "rent", "Rent"
    %th.tblstyl= sortable "lease_start", "Start Date"
    %th.tblstyl= sortable "lease_length", "Length of Lease"
    %th.tblstyl= sortable "lease_type", "Type"
- @listings.each do |f|
  %li.col-xs-6.col-xs-offset-3.borderbottom
    $
    = f.rent
    = f.address
    = f.city 
    = f.state
    = f.lease_type
    .col-xs-3
/ %table
/   %tr 
/     %th.tblstyl= sortable "rent", "Rent"
/     %th.tblstyl= sortable "lease_start", "Start Date"
/     %th.tblstyl= sortable "lease_length", "Length of Lease"
/     %th.tblstyl= sortable "lease_type", "Type"
/   - for listing in @listings
/     %tr
/       %td= listing.rent
/       %td= listing.lease_start
/       %td= listing.lease_length
/       %td= listing.lease_type
