%h1 Edit Patients
= form_for [@hospital, @patient] do |f|
  - if f.object.errors.messages.length > 0
    / Render the errors to the user
    = f.object.errors.messages.inspect
    %br/
    - f.object.errors.messages.each do |key, value|
      - value.each do |message|
        = key.capitalize
        = message
        %br/
  = f.label :first_name
  = f.text_field :first_name
  %br/
  = f.label :last_name
  = f.text_field :last_name
  %br/
  = f.label :dob
  = f.date_select(:dob, :start_year => 1900)
  %br/
  = f.label :gender
  %br/
  = f.radio_button(:gender, "Male")
  = label_tag("Male")
  = f.radio_button(:gender, "Female")
  = label_tag("Female")
  %br/
  = f.label :description
  = f.text_field :description
  %br/
  = f.label "Status"
  %br/
  -if @patient.workflow_state != 'paying_bills'
    = f.radio_button(:workflow_state, :waiting)
    = label_tag("Waiting")
    = f.radio_button(:workflow_state, :doctor_check_up)
    = label_tag("Doctor Check up")
    = f.radio_button(:workflow_state, :x_ray_inprocess)
    = label_tag("X-ray in Process")
    = f.radio_button(:workflow_state, :surgery_inprocess)
    = label_tag("Surgery in Process")
    = f.radio_button(:workflow_state, :paying_bills)
    = label_tag("Paying Bills")
    = f.radio_button(:workflow_state, :discharged)
    = label_tag("Discharged")
  -else
    = f.radio_button(:workflow_state, :paying_bills)
    = label_tag("Paying Bills")
    = f.radio_button(:workflow_state, :discharged)
    = label_tag("Discharged")
  %br/
  = f.submit "Submit Patient", class: "validate_patient"
%div.messag
