%h1
  = @patient.first_name 
  = @patient.last_name
%div.zzz
  .panel.panel-primary
    .panel-heading
      %h3.panel-title Hospitals
    .panel-body
      .row
        .col-md-3 
          First Name: 
          = @patient.first_name 
        .col-md-3 
          Last Name:
          =@patient.last_name
        .col-md-3
          DOB:
          = @patient.dob
        .col-md-3
          Status:
          %p= @patient.workflow_state
        .col-md-3
          Gender:
          %p= @patient.gender
        .col-md-3
          Description:
          %p= @patient.description
          %br
        .col-md-3
          = link_to "Medication", hospital_patient_medications_path(@hospital, @patient)
%br
%br
Doctors
%br
-@doctors.each do |f|
  %li  
    = f.content
    |
    = link_to "delete", delete_doctor_hospital_patient_path(@hospital, @patient, doctor_id: f.id), method: :delete
    %br
%br
= form_for @doctor, url: create_doctor_hospital_patient_path(@hospital, @patient) do |f|
  = f.label "Add New Doctor"
  %br
  = f.text_area :content
  %br
  = f.submit

.row
  |
  = link_to "Edit Patient", edit_hospital_patient_path(@hospital, @patient)
  |
  = link_to "Delete", hospital_patient_path(@hospital, @patient), :method => :delete, :data => { :confirm => 'Are you sure?' }
  |
  = link_to "Back", hospital_patients_path(@hospital)
  |