%h1 Listing Display

= @listing.rent
= @listing.rooms
= @listing.address
= @listing.city
= @listing.state
= @listing.zipcode
= @listing.lease_start
= @listing.lease_length
= @listing.lease_type
= @listing.description
= @listing.email
= @listing.phone
= @listing.created_at
= @listing.updated_at
%div= image_tag @listing.photo.url, :class => "size_image"


