
%div.container
  %div.row
    %div.col-xs-12
      / %div.rowz
      %div.col-xs-offset-6.col-xs-6
        %a.marginz(href= "http://subscribe.com")
          %img(src= "/assets/subscribe1.png")
        %div.inlinez
          %img.raisez(src= "/assets/dot.png")
        %div.inlinez
          %div.appear &#8286;
        %div.inlinez
          %a.inlinez.marg(href= "http://facebook.com")
            %img.scalez(src= "/assets/facebook.png")
          %a.inlinez.marg(href= "http://rss.com")
            %img.scalez(src= "/assets/rss.png")
          %a.inlinez.marg(href= "http://twitter.com")
            %img.scalez(src= "/assets/twitter.png")
          %a.inlinez.marg(href= "http://youtube.com")
            %img.scalez(src= "/assets/youtube.png")

      %div.col-xs-offset-2.col-xs-10
        %div.navrow
          %a.marginz(href= "http://powell-peralta.com/skate-news/")
            %div.bardim
              %div.align &#8212; SK8T NEWS &#8212; 
               
          %a.marginz(href= "http://powell-peralta.com/skateboarders/")
            %div.bardim 
              %div.align &#8212; SKATEBOARDERS &#8212;
          %a.marginz(href= "http://powell-peralta.com/board-design/")
            %div.bardim 
              %div.align &#8212; BOARD DESIGN &#8212;
          %a.marginz(href= "http://powell-peralta.com/contact-us/")
            %div.bardim 
              %div.align &#8212; CONTACT US &#8212;

      %div.col-xs-offset-2.col-xs-10.colspacing
        #carousel-example-generic.carousel.slide.outerc{"data-ride" => "carousel"}
          %ol.carousel-indicators
            %li.active{"data-slide-to" => "0", "data-target" => "#carousel-example-generic"}
            %li{"data-slide-to" => "1", "data-target" => "#carousel-example-generic"}
            %li{"data-slide-to" => "2", "data-target" => "#carousel-example-generic"}

          .carousel-inner
            .item.active
              %div.cardim
                %img.sizingc{:alt => "First slide", "data-src" => "holder.js/900x500/auto/#777:#555/text:First slide", :src => "/assets/slide1.png"}  
                %img.overlayz{:alt => "First slide", "data-src" => "holder.js/900x500/auto/#777:#555/text:First slide", :src => "/assets/skull.png"}
            .item
              %div.cardim
                %img.sizingc{:alt => "Second slide", "data-src" => "holder.js/900x500/auto/#666:#444/text:Second slide", :src => "/assets/slide2.png"}
                %img.overlayz{:alt => "First slide", "data-src" => "holder.js/900x500/auto/#777:#555/text:First slide", :src => "/assets/skull.png"}
            .item
              %div.cardim
                %img.sizingc{:alt => "Third slide", "data-src" => "holder.js/900x500/auto/#555:#333/text:Third slide", :src => "/assets/slide3.png"}
                %img.overlayz{:alt => "First slide", "data-src" => "holder.js/900x500/auto/#777:#555/text:First slide", :src => "/assets/skull.png"}
          %a.left.carousel-control{"data-slide" => "prev", :href => "#carousel-example-generic", :role => "button"}
            %span
          %a.right.carousel-control{"data-slide" => "next", :href => "#carousel-example-generic", :role => "button"}
            %span

      %div.col-xs-offset-2.col-xs-10.colspacing2 
        %div.dispinl
          %h4.headmarg Tony Hawk Foundation Raises Big Money At Celeb Fundraiser 
          %div.datesmall October 10, 2013
          %div.headmarg It was just over 90 degrees in Los Angeles, but that didn't stop the throngs from coming out to celebrate the 10th Annual Tony Hawks's Stand Up For Skateparks Benefit Presented by SLS Hotel & Casino Las Vegas on Saturday at the Green Acres Estate in Beverly Hills.
          %a(href= "http://readmore.com")
            %img.scaleread(src= "/assets/readmore.png")
        %div.dispinl
          %h4.headmarg Rodney Mullen: Pop an ollie and innovate! (TED Talk) 
          %div.datesmall March 10, 2013
          %div.headmarg The last thing Rodeny Mullen, the godfather of street skating, wanted were competative victories. In this exuberant talk he shares his love of the open skateboarding community and how the unique environments it plays in drive the creation of new tricks -- fostering...
          %a(href= "http://readmore.com")
            %img.scaleread(src= "/assets/readmore.png")
        %div.dispinl
          %h4.headmarg.mrz Ray Barbee Talks    'Ban This' 
          %div.datesmall October 4, 2013
          %div.headmarg Since filming is in full swing for the Vans video Adventures With Chris has taken the opportunity to sit some of the team down to look behind the skating of some of their earlier parts. Today we sit down RAy BArbee, one of the smoothest guys ever to step on a skatebord and Chris' childhood idol...
          %a(href= "http://readmore.com")
            %img.scaleread(src= "/assets/readmore.png")
      %div.col-xs-offset-2.col-xs-10.colspacing
        .col-xs-7.padding0.colsetting
          %a(href= "http://skateboarders.com")
            %img.dispinl2.marginzz.positionz(src= "/assets/lance.png")
            %img.overlay1(src= "/assets/LANCE-MOUNTAIN.png")
          %a(href= "http://skateboarders.com")
            %img.dispinl2.positionz.marginrod(src= "/assets/rod.png")
            %img.overlay2(src= "/assets/RODNEY-MULLEN.png")
          %br
          %a(href= "http://skateboarders.com")
            %img.reducestv.positionz.marginsteve(src= "/assets/steve.png")
            %img.overlay3(src= "/assets/STEVE-CABALLERO.png")
        .col-xs-3.paddingnone.colsetting2
          %a(href= "http://skateboarders.com/")
            %img.tomstyle.positionz(src= "/assets/tom.png")
            %img.overlay4(src= "/assets/TOMMY-GUERRERO.png")
      %div.col-xs-offset-2.col-xs-10
        #tS2.jThumbnailScroller.scrolldim
          .jTscrollerContainer
            .jTscroller
              %a{:href => "http://powell-peralta.com/skateboards"}
                %img.skatereduce{:src => "/assets/skate.png"}/
              %a{:href => "http://powell-peralta.com/skateboards"}
                %img.skatereduce{:src => "/assets/skate2.png"}/
              %a{:href => "http://powell-peralta.com/skateboards"}
                %img.skatereduce{:src => "/assets/skate3.png"}/
              %a{:href => "http://powell-peralta.com/skateboards"}
                %img.skatereduce{:src => "/assets/skate4.png"}/
              %a{:href => "http://powell-peralta.com/skateboards"}
                %img.skatereduce{:src => "/assets/skate5.png"}/
              %a{:href => "http://powell-peralta.com/skateboards"}
                %img.skatereduce{:src => "/assets/skate6.png"}/
              %a{:href => "http://powell-peralta.com/skateboards"}
                %img.skatereduce{:src => "/assets/skate7.png"}/
              %a{:href => "http://powell-peralta.com/skateboards"}
                %img.skatereduce{:src => "/assets/skate8.png"}/
              %a{:href => "http://powell-peralta.com/skateboards"}
                %img.skatereduce{:src => "/assets/skate9.png"}/
              %a{:href => "http://powell-peralta.com/skateboards"}
                %img.skatereduce{:src => "/assets/skate10.png"}/
          %a.jTscrollerPrevButton{:href => "#", :style => "display: none;"}
          %a.jTscrollerNextButton{:href => "#", :style => "display: none;"}
      %div.col-xs-offset-2.col-xs-4.inlinez.backgroundwhite.marginlft   
        %div.contactm.sizingcon
          %div.topmarg
          %h4.contactm Contact Us For More Information
          %div.contactm.inlinez Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
      %div.col-xs-6.inlinez.backgroundwhite.minbot
        %div.contactm.margintp.sizelast
          = form_for "contact" do |f|
            = f.text_field "name", placeholder: "Name"
            %br
            %br
            = f.text_field "email", placeholder: "Email"
            %br
            %br
            = f.text_area "your message", placeholder: "Your Message"
            %br/
            %br
            = f.submit "Submit", style: "background-color: #b22d2b; color: white; border: none;"


  :javascript
  jQuery.noConflict();
  (function($){
  window.onload=function(){
      $("#tS2").thumbnailScroller({
          scrollerType:"hoverPrecise",
          scrollerOrientation:"horizontal",
          scrollSpeed:2,
          scrollEasing:"easeOutCirc",
          scrollEasingAmount:600,
          acceleration:4,
          scrollSpeed:800,
          noScrollCenterSpace:10,
          autoScrolling:0,
          autoScrollingSpeed:2000,
          autoScrollingEasing:"easeInOutQuad",
          autoScrollingDelay:500
      });
  }
  })(jQuery);
%script{:src => "jquery.thumbnailScroller.js"}
        