%h1 Medications list



= link_to "Add Medication", new_hospital_patient_medication_path(@hospital, @patient)
%br

- @medication.each do |medication| 
  %li
    .row  

      .col-md-4= medication.name
    
      .col-md-4= link_to "Edit", edit_hospital_patient_medication_path(@hospital, @patient, medication)
    
      .col-md-4= link_to "Show", hospital_patient_medication_path(@hospital, @patient, medication)
    
      .col-md-4= link_to "delete", hospital_patient_medication_path(@hospital, @patient, medication), :method => :delete, :data => { :confirm => 'Are you sure?' }

